{% extends "::base.html.twig" %}

{% block body %}




  <!--  row of columns -->
  <div class="row">
    <div class="col-md-8">
      <h2>Thank You!</h2>
      <p>Your contribution to the Roanoke Libraries story database is greatly appreciated. Your stories and memories help to make the Roanoke Valley a special place </p>
      <p><a class="btn btn-success" href="{{ path('story_new') }}">Submit Another Story</a></p>
    </div>
</div>
  
  
{% endblock %}